src/main/app/dotnet-workshop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dotnet="http://www.mulesoft.org/schema/mule/dotnet" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/dotnet http://www.mulesoft.org/schema/mule/dotnet/current/mule-dotnet.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="dotnet-workshopFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-variable variableName="myVar" value="1234" doc:name="Variable"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	account: {
		name: "Acme Inc.",
		accountid: 1234
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <dotnet:execute config-ref="DotNet__Resource_MuleSoftLabComponent" methodName="MuleSoftLabComponent.Lab, MuleSoftLabComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null||MuleSoftLabComponent.Lab, MuleSoftLabComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null | HandleMuleMessage(MuleSoftLabComponent.Account account, System.Int32 myVar, System.Int32 id) -&gt; System.Object" doc:name="DotNet"/>
        <logger message="#[payload] - #[sessionVars.idFromQuery]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="dotnet-workshopFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/xml" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	account: {
		name: "Bob",
		accountid: 1
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <object-to-string-transformer doc:name="Object to String"/>
        <dotnet:execute config-ref="DotNet__Resource_MuleSoftLabComponent" methodName="MuleSoftLabComponent.Lab, MuleSoftLabComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null||MuleSoftLabComponent.Lab, MuleSoftLabComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null | HandleXML(System.Xml.XmlDocument xml) -&gt; System.Object" doc:name="DotNet"/>
    </flow>
    <flow name="dotnet-workshopFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/setpayload" doc:name="HTTP"/>
        <dotnet:execute config-ref="DotNet__Resource_MuleSoftLabComponent" methodName="MuleSoftLabComponent.Lab, MuleSoftLabComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null||MuleSoftLabComponent.Lab, MuleSoftLabComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null | SetPayload() -&gt; Org.Mule.Api.MuleMessage" doc:name="DotNet"/>
        <set-property propertyName="Content-Type" value="text/html" doc:name="Property"/>
    </flow>
</mule>
